[submodule "libs/JBLibs"]
	path = libs/JBLibs
	url = https://github.com/dvestezarzlkl/JBLibs-python.git
	branch = main
[submodule "libs/app/menus/app_50_zlkl"]
	path = libs/app/menus/app_50_zlkl
	url = https://github.com/dvestezarzlkl/sys_apps_zlkl_plugin.git
